/* 91.461 Assignment 5
 * File: styles.css
 * Author: Peter Welby, pwelby@cs.uml.edu
 * Styles to be applied to dynamically loaded content
 * See: ../index.html, ../js/loadcontent.js
 */

/* Import Open Sans font from Google Fonts for use on this page */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
/* Import Inconsolata font for sidebar */
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

html {
    background-color: #323232;
}

/* Set width and height for body so that percentages */
/* behave as expected */

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #323232;
    color: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

/* Set up sidebar to contain JSON breakdown */
#sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #626262;
    border-right: 1px solid #f1f1f1;
    padding-right: 10px;
    float: left;
    font-family: 'Inconsolata', monospace;
}

/* Push the content away from the left and right edges */
#content {
    height:100%;
    margin: 0 20% 0 24%;
}

/* ===Link styles=== */
a {
    color: cyan;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #6441A5;
}

/* ===Header styles=== */
#content h1 {
    text-align: left;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

h2 {
    text-align: left;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.2em;
}

/* ===Paragraph Styles=== */
p {
    margin-left: 50px;
    margin-bottom: 1em;
}

p.data-desc {
    font-size: 1em;
    font-style: italic;
}

#sidebar p {
    margin: 5px 8px 1em 8px;
}


/* Set up list indentation for nested sidebar lists */
ul {
    margin-left: 10px;
}

ul li {
    padding-left: 15px;
}

/* Triangular bullet style, from CSS tricks. See below: */
/* https://css-tricks.com/snippets/css/triangular-list-bullets/ */
/* Don't actually want the bullets for now...
li:before {
    content: "";
    border-color: transparent #00ff6c;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}
*/